body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.Logo{
  align:center
}
head {
  padding: 20px 10px;
}

h2 {
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

input[type="submit"] {
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #ff0000;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.action-buttons {
  display: flex;
  gap: 5px;
}

.action-buttons input[type="submit"] {
  background-color: #f44336;
}
